/* Тіло документа */
.body { font-family: 'Inter', sans-serif; background-color: #fdfaf6; color: #343a40; }


/* Стилі для навігації в меню */
.logo-main { display: none; }
.main-title-text { width: 140px; text-align: center; }
.main-navigation { display: block; padding: 16px; width: 80px; text-align: center; }
@media screen and (min-width: 480px) { .logo-main { display: inline; } }
@media screen and (min-width: 768px) {
    .main-title-text { width: auto; }
    .main-navigation { display: inline; width: auto; }
}


/* main стилі */
.theme-text { font-size: 1.125rem; line-height: 1.75rem; }
.title-review { width: 100%; font-size: 1.0rem; line-height: 1.5rem; }
.text-2xlooo { font-size: 1.0rem; line-height: 1.5rem; }
.source-text { padding: 8px; }
@media screen and (min-width: 300px) {
    .title-review { font-size: 1.5rem; line-height: 2.0rem; }
    .text-2xlooo { font-size: 1.25rem; }
}
@media screen and (min-width: 480px) {
    .theme-text { font-size: 1.875rem; line-height: 2.25rem; }
    .title-review { font-size: 2.25rem; line-height: 2.5rem; }
    .text-2xlooo { font-size: 1.5rem; line-height: 2rem; }
}


/* Стилі для "Про урок" */
/* Групи результатів */
.text-group-result { padding-top: 16px; }

/* Style to hide inactive tab content */
.tab-content { display: none; }
.tab-content.active { display: block; }


/* Style to tab content */
.tab-btn { 
    transition: color 0.3s, border-color 0.3s, background-color 0.3s; 
    border-bottom: 2px solid transparent;
}
/* Стиль .tab-btn.active располагается на каждой страничке. Там указаны цвета для каждой странички отдельно. */
/* .tab-btn.active { } */


/* Styles for flip cards */
.flip-card {
    background-color: transparent;
    width: 100%; /* Make cards responsive to grid column width */
    height: 200px; /* Fixed height for consistency, adjust as needed */
    perspective: 1000px; /* 3D effect */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card.active .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left; /* Adjust text alignment as needed */
    overflow-wrap: break-word; /* break-words */
    /*word-break: break-all;*/ /* break-all */
}

.flip-card-front {
    color: #4b5563; /* text-gray-700 */
    }

.flip-card-back {
    color: #4b5563; /* text-gray-700 */
    transform: rotateY(180deg);
}

/* Responsive adjustments for min-height */
/* Эти стили есть на каждой страничке отдельно */
